:root {
    --light-purple: #f6f4fe;
    --purple: #6a49f2;
    --bg-purple: #6a49f2;
    --dark-purple: #32236f;
    --body-text-purple: #3e3f66;
    --text-white: #ffffff;
    --bg-white: #ffffff;
    --slider-dots-color: #d4d2dd;
    --light-bg: #dfdaf3;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    /* overflow-x: hidden; */
    line-height: 1.7;
    font-family: Poppins, sans-serif;
    color: var(--body-text-purple);
    background-color: var(--light-purple);
    font-weight: 400;
}
a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: var(--body-text-purple);
}
a:hover {
    text-decoration: none;
    color: var(--body-text-purple);
}
ul,
li {
    padding: 0px;
    list-style-type: none;
    margin: 0px;
}
button:focus,
.btn.focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    line-height: 1.2;
}
p,
ul,
ol,
span {
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 50px;
    font-family: inherit;
    font-weight: 700;
    color: var(--dark-purple);
}
h2 {
    font-size: 35px;
    font-weight: 700;
    font-family: inherit;
    list-style: none;
    color: var(--dark-purple);
}
h3 {
    font-size: 20px;
    color: var(--dark-purple);
    font-weight: 600;
}
h4 {
    font-size: 20px;
    color: var(--dark-purple);
    font-weight: 600;
}
p {
    font-size: 16px;
    font-family: inherit;
    font-weight: 400;
    color: var(--body-text-purple);
    line-height: 27.2px;
}
img {
    vertical-align: middle;
}
.custome-link {
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 27.2px;
    background-color: var(--purple);
    border: 1px solid var(--bg-purple);
    border-radius: 25px;
    padding: 9px 40px !important;
    color: var(--text-white) !important;
}
.section-padding {
    padding: 50px 0px;
}
.section-title {
    text-align: center;
}
.section-headding {
    text-align: center;
}
.section-headding h2 {
    margin-bottom: 0.5rem;
}
.section-headding h2 span {
    color: var(--purple);
}
.section-headding p {
    width: 555px;
    margin: 0px auto;
}
.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#nav_bar {
    padding-top: 35px;
    transition: all 0.4s ease 0s;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.sticky {
    position: fixed;
    width: 100%;
    z-index: 9999;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.706);
    padding: 15px 0px !important;
}
.aboutsticky {
    position: fixed;
    width: 100%;
    z-index: 9999;
    backdrop-filter: blur(5px);
    padding: 15px 0px !important;
    background-color: var(--purple) !important;
}
#nav_bar .navbar-nav li {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}
#nav_bar .navbar-nav .dropbg:hover {
    box-shadow: rgba(197, 197, 197, 0.5) 0px 4px 10px;
}
#nav_bar .navbar-nav > li > a {
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 27px;
    padding: 5px 20px;
    color: var(--body-text-purple);
}
#nav_bar .navbar-nav > li:hover > a {
    color: var(--bg-purple);
}
#nav_bar .navbar-nav li span {
    position: relative;
    right: 12px;
    font-size: 14px;
    font-weight: 400;
}
#nav_bar .navbar-nav li span i {
    color: var(--body-text-purple);
}
#nav_bar .navbar-nav li:hover i {
    color: var(--bg-purple);
}
#nav_bar .navbar-nav li a.custome-link {
    margin-left: 20px;
    position: relative;
}
#nav_bar .navbar-nav li a.custome-link::before {
    content: '';
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    border-radius: 42px;
    z-index: -1;
    animation: 3.5s ease 0s infinite normal none running pulse-blue-medium-sm;
}
#nav_bar .navbar-nav li a.custome-link::after {
    content: '';
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    border-radius: 42px;
    z-index: -1;
    animation: 3.5s ease 0s infinite normal none running pulse-blue-small-sm;
}
@keyframes pulse-blue-small-sm {
    0% {
        box-shadow: rgba(107, 73, 242, 0.7) 0px 0px 0px 0px;
    }
    100%,
    30% {
        box-shadow: transparent 0px 0px 0px 12px;
    }
}
@keyframes pulse-blue-medium-sm {
    0% {
        box-shadow: rgba(107, 73, 242, 0.4) 0px 0px 0px 0px;
    }
    100%,
    30% {
        box-shadow: transparent 0px 0px 0px 20px;
    }
}
#nav_bar .navbar-nav li .subMenu {
    position: absolute;
    width: 210px;
    padding: 10px 20px;
    background-color: var(--bg-white);
    top: 100%;
    left: 0px;
    box-shadow: rgba(197, 197, 197, 0.5) 0px 4px 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease 0s;
    transform: translateY(-10px);
    transform-origin: center top;
    z-index: 111;
}
#nav_bar .navbar-nav li .subMenu li a {
    position: relative;
    font-size: 15px;
    font-family: inherit;
    font-weight: 500;
    line-height: 35px;
    padding-left: 7px;
    transition: all 0.4s ease 0s;
}
#nav_bar .navbar-nav li .subMenu li a::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 2px solid var(--purple);
    transition: all 0.4s ease 0s;
    visibility: hidden;
    opacity: 0;
}
#nav_bar .navbar-nav li:hover .subMenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
#nav_bar .navbar-nav li .subMenu li a:hover {
    margin-left: 10px;
}
#nav_bar .navbar-nav li .subMenu li a:hover::before {
    visibility: visible;
    opacity: 1;
}
#banner_section {
    position: relative;
    padding-top: 9rem;
}
#banner_section::after {
    content: '';
    display: block;
    background-image: url('../images/banner-shape.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-position: center center;
    margin-top: 0px;
}
#banner_section .container {
    position: relative;
}
#banner_section .container .anime-line span {
    position: absolute;
    animation: 6s linear 0s infinite normal none running line_downanie;
    top: -250px;
    opacity: 0;
}
#banner_section .container .anime-line span:first-child {
    position: absolute;
    left: -15%;
}
#banner_section .container .anime-line span:nth-child(2) {
    left: 0px;
    animation-delay: 3s;
}
#banner_section .container .anime-line span:nth-child(3) {
    left: 17%;
}
#banner_section .container .anime-line span:nth-child(4) {
    left: 34%;
    animation-delay: 2s;
}
#banner_section .container .anime-line span:nth-child(5) {
    left: 51%;
    animation-delay: 4s;
}
#banner_section .container .anime-line span:nth-child(6) {
    left: 68%;
}
#banner_section .container .anime-line span:nth-child(7) {
    left: 85%;
    animation-delay: 2s;
}
#banner_section .container .anime-line span:nth-child(8) {
    left: 99%;
    animation-delay: 1s;
}
#banner_section .banner-text p {
    width: 555px;
    margin-top: 15px;
}
#banner_section .banner-text h1 span {
    color: var(--purple);
}
#banner_section .banner-image {
    position: absolute;
    width: 315px;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%);
}
#banner_section .banner-icon {
    position: absolute;
}
#banner_section .banner-slider-container {
    width: 305px;
    margin: 0px auto;
    text-align: center;
}
#banner_section .banner-right::before {
    left: 0px;
    z-index: -1;
}
#banner_section .bannner-right::after {
    content: '';
    width: 475px;
    height: 475px;
    background: var(--purple);
    position: absolute;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -11;
}
#banner_section .banner-icon .banner-icon-image:first-child {
    position: absolute;
    z-index: 11;
    left: 10px;
    top: 469px;
}
#banner_section .banner-icon .banner-icon-image:last-child {
    position: absolute;
    top: 58px;
    left: 324px;
    z-index: -1;
}
#banner_section .bannner-btn ul li {
    display: inline-block;
}
#banner_section .bannner-btn ul {
    margin-bottom: 30px;
}
#banner_section .bannner-btn ul li a {
    display: block;
    padding: 12px 30px;
    border: 2px solid var(--purple);
    border-radius: 12px;
    margin-right: 20px;
    height: 63px;
    transition: all 0.4s ease 0s;
    position: relative;
}
#banner_section .bannner-btn ul li a img:last-child {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
#banner_section .bannner-btn ul li a:hover img:last-child {
    opacity: 1;
}
#banner_section .bannner-btn ul li a:hover {
    background-color: var(--purple);
    border-color: transparent;
    color: rgb(255, 255, 255);
}
#banner_section .user-app {
    display: flex;
    align-items: center;
}
#banner_section ul.user-images {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
#banner_section ul.user-images li {
    margin-left: -15px;
}
#banner_section .user-app p {
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 0px;
    width: 101px !important;
}
#banner_section .spna:first-child {
    position: absolute;
}
#banner_section ul.slick-dots {
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
}
.bannner-btn {
    margin-top: 25px;
}
#banner_section ul.slick-dots li {
    display: inline-block;
}
#banner_section .slick-dots li button {
    border: none;
    font-size: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(212, 210, 221);
    margin-right: 10px;
    transition: all 0.1s ease 0s;
}
#banner_section .slick-dots .slick-active button {
    background-color: var(--purple);
}
@keyframes line_downanie {
    0% {
        opacity: 0;
        top: -250px;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 100%;
        opacity: 0;
    }
}
#company .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
}
#company .slick-dots li {
    display: inline-block;
}
#company .slick-dots button {
    border: none;
    font-size: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(212, 210, 221);
    margin-right: 10px;
    transition: all 0.1s ease 0s;
}
#company .slick-dots .slick-active button {
    background-color: var(--purple);
}
#company .company_slider-container {
    margin-top: 20px;
}
#company .logo img {
    filter: grayscale(1);
    margin: 0px auto;
    transition: all 0.4s ease 0s;
}
#company .logo img:hover {
    filter: grayscale(0);
    cursor: grab;
}
#features_section {
    overflow: hidden;
}
#features_section .featurs-deatils {
    background-color: var(--bg-white);
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    padding-top: 60px;
    padding-bottom: 50px;
    box-shadow: rgb(237, 233, 254) 0px 4px 30px;
}
#features_section .features-left {
    text-align: right;
}
#features_section .features-item {
    margin-bottom: 50px;
}
#features_section .features-items {
    width: 33%;
}
#features_section .features-items.features-middel {
    position: relative;
}
#features_section .features-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
}
#features_section .features-items.features-left p {
    width: 280px;
    margin-left: auto;
}
#features_section .features-items.features-right p {
    width: 280px;
}
.about-freem {
    position: relative;
}
.about-freem-image {
    position: relative;
    width: 300px;
}
.screen-image {
    position: absolute;
    bottom: 30px;
    right: 100px;
}
.about-freem::before {
    position: absolute;
    width: 475px;
    height: 475px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
}
.about-freem .about-freem-image img {
    animation: 6s linear 0s infinite normal none running translateY;
}
@keyframes translateY {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}
.about-freem::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    left: 38%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
}
.screen-image img {
    animation: 6s linear 3s infinite normal none running translateY_2;
}
@keyframes translateY_2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
ul.app_statstic {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 10px;
    justify-content: space-between;
}
ul.app_statstic li {
    display: flex;
    width: 248px;
    align-items: center;
    background: rgb(255, 255, 255);
    margin-bottom: 30px;
    padding: 15px 10px 15px 35px;
    box-shadow: rgb(237, 233, 254) 0px 4px 10px;
    border-radius: 12px;
}
ul.app_statstic li .app-icon {
    margin-right: 15px;
}
.text p:first-child {
    font-size: 40px;
    font-weight: 600;
    line-height: 28px;
    color: var(--dark-purple);
}
.text p:last-child {
    line-height: 25px;
    color: var(--dark-purple);
}
#about_section .section-headding {
    margin-bottom: 15px;
}
#about_section a.custome-link {
    background-color: var(--purple);
    color: var(--text-white);
    border-radius: 50px;
    padding: 10px 40px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: 1;
    font-weight: 500;
    text-align: center;
}
#about_section a.custome-link::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    background-color: var(--bg-white);
    border-radius: 50px;
    transition: all 0.6s ease 0s;
    z-index: -1;
}
#about_section a.custome-link:hover::before {
    width: 100%;
}
#about_section a.custome-link:hover {
    color: var(--purple) !important;
}
#morder_section .section-headding {
    text-align: left;
}
#morder_section .left {
    padding-right: 75px;
}
#morder_section .left .modern_desing {
    margin: 45px 0px;
    display: flex;
    align-items: center;
}
#morder_section .left .modern_desing li {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#morder_section .left .modern_desing li .text-block {
    margin-left: 20px;
}
#morder_section .left .modern_desing li .text-block p {
    width: 440px;
    margin-top: 10px;
}
#morder_section .mordern-right-image {
    display: flex;
    align-items: center;
}
#morder_section .image-1 {
    position: absolute;
    z-index: 2;
    right: 80px;
    top: 27px;
}
#morder_section .image-2 {
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}
#morder_section .image-3 {
    position: absolute;
    right: 36px;
    bottom: 30px;
}
#morder_section .right {
    position: relative;
}
#morder_section .right::after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 570px;
    height: 570px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    content: '';
    z-index: -1;
}
#morder_section .right .mordern-right-image img {
    animation: 6s linear 0s infinite normal none running
        moving_position_animatin;
}
@keyframes moving_position_animatin {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
#morder_section .modernUIimage {
    animation: 6s linear 3s infinite normal none running
        moving_position_animatin-2;
}
@keyframes moving_position_animatin-2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}
#work_section {
    padding-bottom: 190px;
    background: var(--bg-white);
    overflow: hidden;
}
#work_section .flex-container {
    justify-content: center;
    position: relative;
    z-index: 1;
}
#work_section.work-item .left {
    width: 40%;
}
#work_section .work-item .middel {
    width: 20%;
}
#work_section .work-item .middel .work-icon {
    background: url('../images/icon_bg.png') center center / cover no-repeat;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
#work_section .work-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
#work_section .work-item .left {
    width: 40%;
}
#work_section .work-item .middel {
    width: 20%;
}
#work_section .work-item .right {
    width: 40%;
}
#work_section .work-item:nth-child(2n) {
    flex-direction: row-reverse;
    text-align: left;
}
#work_section .work-item:nth-child(2n + 1) {
    text-align: right;
}
#work_section .work-item .app-icon {
    margin: 15px 0px;
}
#work_section .work-item .left .app-icon a {
    height: 40px;
    border-radius: 50%;
    background: var(--light-bg);
    display: inline-block;
    width: 40px;
    color: var(--text-white);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    transition: all 0.4s ease 0s;
}
#work_section .work-item .left .app-icon a:hover {
    background-color: var(--purple);
}
#work_section .work-item .left span {
    font-size: 16px;
    font-weight: 600;
    line-height: 27.2px;
    color: var(--body-text-purple);
}
#work_section .work-item .left span a {
    color: var(--purple);
    transition: all 0.4s ease 0s;
}
#work_section .work-item .left span a:hover {
    font-size: 16px;
    text-decoration: underline;
}
#work_section .flex-container::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 4px;
    height: 75%;
    background-color: var(--light-bg);
    z-index: -1;
}
#work_section .flex-container::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 15px;
    background-color: var(--light-bg);
}
section#video_section {
    margin-top: -160px;
}
#video_section .video_image {
    background: url('../images/yt_thumb.png') center center / cover no-repeat;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    padding-top: 190px;
    overflow: hidden;
    padding-bottom: 130px;
}
.wrapper {
    display: inline-block;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-main {
    position: relative;
    display: block;
}
.video {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 100%;
    color: rgb(122, 92, 244);
    font-size: 25px;
    display: inline-block;
    background: rgb(255, 255, 255);
    text-align: center;
    z-index: 999;
}
@keyframes waves {
    0% {
        transform: scale(0.2, 0.2);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        transform: scale(0.9, 0.9);
        opacity: 0;
    }
}
.fa-play::before {
    content: '';
}
.waves {
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0;
    border-radius: 100%;
    right: -50px;
    bottom: -50px;
    z-index: -1;
    animation: 3s ease-in-out 0s infinite normal none running waves;
}
.wave-1 {
    animation-delay: 0s;
}
.wave-2 {
    animation-delay: 1s;
}
.wave-3 {
    animation-delay: 2s;
}
.video-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-top: 30px;
}
.video-text p {
    color: rgb(255, 255, 255);
}
#video_section .video_image .anime-line span {
    position: absolute;
    animation: 6s linear 0s infinite normal none running video_lineDown;
    top: -100px;
    opacity: 0;
}
#video_section .video_image .anime-line span:first-child {
    position: absolute;
    left: -15%;
}
#video_section .video_image .anime-line span:nth-child(2) {
    left: 0px;
    animation-delay: 3s;
}
#video_section .video_image .anime-line span:nth-child(3) {
    left: 17%;
    animation-delay: 1s;
}
#video_section .video_image .anime-line span:nth-child(4) {
    left: 34%;
    animation-delay: 4s;
}
.anime-line span:nth-child(5) {
    left: 51%;
    animation-delay: 5s;
}
#video_section .video_image .anime-line span:nth-child(6) {
    left: 68%;
}
#video_section .video_image .anime-line span:nth-child(7) {
    left: 85%;
    animation-delay: 3s;
}
#video_section .video_image .anime-line span:nth-child(8) {
    left: 99%;
    animation-delay: 2s;
}
@keyframes video_lineDown {
    0% {
        opacity: 0;
        top: -100px;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 100%;
        opacity: 0;
    }
}
.testimonial-cotent {
    position: relative;
    margin-top: 100px;
    z-index: 1;
}
.testimonial-avata-image {
    position: absolute;
    min-width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: -1;
}
.testimonial-slider .testimonial-item {
    width: 420px;
    margin: 0px auto;
}
.testimonial-container {
    width: 800px;
    margin: 0px auto;
    text-align: center;
    overflow: hidden;
    padding: 50px 0px;
}
.testionial-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.totale-review {
    margin-top: 60px;
}
.testimonial-review i {
    color: rgb(252, 148, 64);
    margin: 0px 2px;
}
.testimonial-text p {
    margin-top: 10px;
}
.totale-review i {
    color: rgb(252, 148, 64);
    margin: 0px 1px;
}
.totale-review span {
    margin-left: 5px;
    font-size: 16px;
}
.totale-review h2 {
    margin: 7px 0px;
}
.totale-review a {
    font-size: 16px;
    font-weight: 700;
    color: rgb(106, 73, 242) !important;
}
.totale-review a i {
    margin-left: 4px;
    color: rgb(106, 73, 242);
}
.testimonial-info {
    margin-top: 10px;
}
#testimonial_section .slick-dots {
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
}
#testimonial_section .slick-dots li {
    display: inline-block;
}
#testimonial_section .slick-dots li button {
    border: none;
    font-size: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(212, 210, 221);
    margin-right: 10px;
    transition: all 0.1s ease 0s;
}
#testimonial_section .slick-dots .slick-active button {
    background-color: var(--purple);
}
.pricing-card {
    padding-top: 60px;
    background: rgb(255, 255, 255);
    margin-bottom: 40px;
    border-radius: 15px;
}
.pricing-card-title .card-icon {
    margin-bottom: 30px;
}
.pricing-card-title p {
    font-size: 15px;
    font-weight: 500;
    line-height: 25.2px;
}
.pricing-card-body h2 {
    margin: 25px 0px;
    color: rgb(106, 73, 242);
    font-weight: 600;
    font-size: 48px;
}
.pricing-card-body ul li {
    font-size: 16px;
    line-height: 27.2px;
    font-family: inherit;
    color: rgb(62, 63, 102);
    margin-bottom: 5px;
}
.pricing-card-body .custome-link {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 50px;
    border-color: rgb(106, 73, 242);
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    color: rgb(106, 73, 242) !important;
    padding: 10px 45px !important;
}
.pricing-card.active {
    background: rgb(106, 73, 242);
    color: rgb(255, 255, 255) !important;
}
.pricing-card-body .custome-link::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    z-index: -1;
    background: center bottom;
    border-radius: 40px;
    transition: all 0.4s ease 0s;
}
.pricing-card-body .custome-link:hover::after {
    background: var(--purple);
    width: 100%;
}
.pricing-card-body .custome-link:hover {
    color: var(--text-white) !important;
}
.pricing-card.active .custome-link:hover {
    border-color: rgb(255, 255, 255);
}
section#pricing_section .section-headding {
    margin-bottom: 70px;
}
.pricing-card.active p {
    color: rgb(255, 255, 255);
}
.pricing-card.active h4 {
    color: rgb(255, 255, 255) !important;
}
.pricing-card.active .pricing-card-body ul li {
    color: rgb(255, 255, 255);
}
.pricing-card.active .pricing-card-body h2 {
    color: rgb(255, 255, 255);
}
#pricing_section p a {
    color: var(--purple);
    text-decoration: underline;
}
#Frequently-section .section-headding {
    margin-bottom: 50px;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    filter: invert(29%) sepia(42%) saturate(6525%) hue-rotate(244deg)
        brightness(98%) contrast(93%);
    transform: scale(0.8) !important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    filter: invert(58%) sepia(25%) saturate(465%) hue-rotate(177deg)
        brightness(101%) contrast(82%);
}
.accordion-item {
    border: none;
    outline: 0px;
    box-shadow: rgb(237, 233, 254) 0px 4px 10px;
    margin-bottom: 20px;
}
.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0px;
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: var(--purple);
    background-color: transparent;
    box-shadow: none;
}
.accordion-button {
    color: var(--dark-purple);
}
.accordion-header button {
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    line-height: 30px;
}
.card-body {
    padding: 20px;
}
#interface .slick-current.slick-active img {
    transform: scale(1);
}
.interface-slider-item img {
    transform: scale(0.9);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    transition: all 1s ease 0s;
    width: 100%;
}
#interface .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 145px;
    transform: translateX(-50%);
}
#interface .screen-slider {
    min-height: 750px;
    margin-top: 70px;
}
#interface .slick-dots li {
    display: inline-block;
}
#interface .slick-dots li button {
    border: none;
    font-size: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(212, 210, 221);
    margin-right: 10px;
    transition: all 0.1s ease 0s;
}
#interface .slick-dots .slick-active button {
    background-color: var(--purple);
}
.downloard-container {
    background: rgb(106, 73, 242);
    padding: 20px 100px;
    border-radius: 40px;
}
.downloard-image {
    display: flex;
    margin-top: -120px;
    align-items: center;
}
.downloard-btn li a {
    display: block;
    padding: 12px 30px;
    border: 2px solid var(--purple);
    border-radius: 12px;
    margin-right: 20px;
    height: 63px;
    transition: all 0.4s ease 0s;
    background: var(--bg-white);
}
.panel {
    height: 100vh;
}
.downloard-image img:nth-child(2) {
    margin-left: -60px;
}
.downloard-left-content {
    color: rgb(255, 255, 255);
}
#downloard_section .downloard-container .anime-line span {
    position: absolute;
    animation: 6s linear 0s infinite normal none running line_toDown;
    top: 90px;
    opacity: 0;
}
#downloard_section .downloard-container .anime-line span:first-child {
    position: absolute;
    left: -15%;
}
#downloard_section .downloard-container .anime-line span:nth-child(2) {
    left: 0px;
    animation-delay: 3s;
}
#downloard_section .downloard-container .anime-line span:nth-child(3) {
    left: 17%;
    animation-delay: 1s;
}
#downloard_section .downloard-container .anime-line span:nth-child(4) {
    left: 34%;
    animation-delay: 4s;
}
#downloard_section .downloard-container .anime-line span:nth-child(5) {
    left: 51%;
    animation-delay: 5s;
}
#downloard_section .downloard-container .anime-line span:nth-child(6) {
    left: 68%;
}
#downloard_section .downloard-container .anime-line span:nth-child(7) {
    left: 85%;
    animation-delay: 3s;
}
#downloard_section .downloard-container .anime-line span:nth-child(8) {
    left: 99%;
    animation-delay: 2s;
}
@keyframes line_toDown {
    0% {
        opacity: 0;
        top: -10px;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 82%;
        opacity: 0;
    }
}
#recent_section .section-headding {
    margin-bottom: 30px;
}
#recent_section .r_PostItem {
    text-align: center;
    background: var(--bg-white);
    border-radius: 15px;
}
#recent_section .r_PostItem .r_post_image {
    position: relative;
}
#recent_section .r_PostItem .r_post_image img {
    border-radius: 15px;
}
#recent_section .r_PostItem .r_post_image span {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    color: var(--text-white);
    font-family: inherit;
    display: block;
}
#recent_section .r_post_details {
    padding: 20px 30px;
}
#recent_section .r_PostItem .r_post_details h3 {
    margin-bottom: 15px;
}
#recent_section .r_PostItem .r_post_details p {
    color: inherit;
    margin-bottom: 16px;
}
#recent_section .r_PostItem .r_post_details a {
    font-size: 14px;
    font-weight: 600;
    color: var(--purple);
}
#recent_section .r_PostItem .r_post_details a:hover {
    text-decoration: underline;
}
#newsletter_section .newsletterWrapper {
    padding: 50px;
    background: var(--bg-purple);
    color: rgb(255, 255, 255);
    box-shadow: rgba(12, 12, 12, 0.13) 0px 4px 10px;
    border-radius: 12px;
}
#newsletter_section .newsletterWrapper h2 {
    color: var(--text-white);
    text-transform: capitalize;
}
#newsletter_section .newsletterWrapper p {
    color: var(--text-white);
    font-size: 14px;
}
#newsletter_section .newsletter-right form input[type='email'] {
    height: 55px;
    border-radius: 5px;
    color: var(--body-text-purple);
}
#newsletter_section .newsletter-left h2 {
    font-size: 35px;
}
#newsletter_section .newsletter-right form button {
    height: 55px;
    width: 170px;
    text-transform: uppercase;
    color: var(--purple);
    background-color: var(--bg-white);
    border-radius: 6px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
#newsletter_section .newsletter-right form button::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    transition: all 0.4s ease 0s;
    background: var(--bg-purple);
    z-index: -1;
}
#newsletter_section .newsletter-right form button:hover::after {
    width: 100%;
}
#newsletter_section .newsletter-right form button:hover {
    color: rgb(255, 255, 255);
}
section#newsletter_section {
    position: relative;
    margin-bottom: -150px;
    z-index: 1;
}
#footer_area .footer-top {
    background-color: rgb(88, 59, 211);
    padding-top: 180px;
    padding-bottom: 60px;
}
#footer_area .footer-top .container {
    position: relative;
}
@keyframes lineUptoDown {
    0% {
        opacity: 0;
        top: -200px;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}
#footer_area .footer-top .anime-line span {
    position: absolute;
    animation: 6s linear 0s infinite normal none running lineUptoDown;
    top: -200px;
    opacity: 0;
}
#footer_area .footer-top .anime-line span:first-child {
    position: absolute;
    left: -15%;
}
#footer_area .footer-top .anime-line span:nth-child(2) {
    left: 0px;
    animation-delay: 3s;
}
#footer_area .footer-top .anime-line span:nth-child(3) {
    left: 17%;
}
#footer_area .footer-top .anime-line span:nth-child(4) {
    left: 34%;
    animation-delay: 2s;
}
#footer_area .footer-top .anime-line span:nth-child(5) {
    left: 51%;
    animation-delay: 4s;
}
#footer_area .footer-top .anime-line span:nth-child(6) {
    left: 68%;
}
#footer_area .footer-top .anime-line span:nth-child(7) {
    left: 85%;
    animation-delay: 2s;
}
#footer_area .footer-top .anime-line span:nth-child(8) {
    left: 99%;
    animation-delay: 1s;
}
#footer_area .footer-bottom {
    padding: 20px 0px;
    background-color: var(--purple);
    color: var(--text-white);
}
#footer_area .footer-bottom p {
    color: var(--text-white);
}
#footer_area .footer-bottom p a {
    color: var(--text-white);
    text-decoration: underline;
}
#footer_area .footer-logo {
    margin-bottom: 40px;
}
#footer_area .footer-item a {
    color: rgb(255, 255, 255);
}
#footer_area .footer-item p {
    margin-bottom: 10px;
}
#footer_area .footer-item ul.social-link {
    display: flex;
    margin-top: 30px;
}
#footer_area .footer-item ul.social-link li a i {
    border: 1px solid var(--bg-white);
    border-radius: 50%;
    width: 40px;
    transition: all 0.4s ease 0s;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    font-size: 16px;
}
#footer_area .footer-item a:hover i {
    background: rgb(255, 255, 255);
    color: var(--purple);
}
#footer_area .footer-item h3 {
    margin-bottom: 40px;
    color: var(--text-white);
    font-weight: 700;
}
#footer_area .footer-item ul li {
    line-height: 35px;
}
#footer_area .footer-item.footer-item-3 ul li a {
    display: block;
    padding: 12px 10px;
    background-color: var(--bg-white);
    border: 2px solid var(--purple);
    position: relative;
    border-radius: 12px;
    transition: all 0.4s ease 0s;
    width: 175px;
    text-align: center;
    margin-bottom: 20px;
}
#footer_area .footer-item.footer-item-3 ul li a:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 1px 4px 8px -2px;
}
#nav_bar .about_menu li a {
    color: rgb(255, 255, 255);
}
#nav_bar .about_menu li a:hover {
    color: rgb(255, 255, 255) !important;
}
#nav_bar .about_menu li span i {
    color: rgb(255, 255, 255);
}
#nav_bar .about_menu > li > a:hover {
    color: var(--bg-purple);
}
#nav_bar .about_menu .dropbg:hover {
    background: rgb(255, 255, 255);
}
#nav_bar .about_menu .dropbg a:hover {
    color: var(--bg-purple) !important;
}
#nav_bar .about_menu li .subMenu li a {
    color: inherit;
}
#nav_bar .about_menu .custome-link {
    background-color: var(--bg-white);
    color: var(--bg-purple) !important;
}
#aboutBanner {
    background-image: url('../images/bread_crumb_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    position: relative;
    z-index: 1;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 9rem;
}
#aboutBanner::after {
    content: '';
    background-image: url('../images/inner_page_banner_overlay.svg');
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-position: center center;
    z-index: -1;
}
.link {
    align-items: center;
    justify-content: center;
}
#aboutBanner a {
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 14px;
}
#nav_bar .about_menu .custome-link:hover {
    color: var(--purple) !important;
}
#aboutBanner a:hover {
    text-decoration: underline;
}
#aboutBanner .shap img {
    position: absolute;
    animation: 10s linear 0s infinite normal none running rotatedanime;
}
#aboutBanner .shap-1 img {
    left: 10%;
    top: 10%;
}
#aboutBanner .shap-2 img {
    right: 5%;
    bottom: 10%;
}
#aboutBanner .banner-text-content {
    margin-top: 55px;
}
#aboutBanner .shap-3 img {
    bottom: -220px;
    right: 19%;
}
@keyframes rotatedanime {
    0% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(180deg);
        transform-origin: center center;
    }
    100% {
        transform: rotate(0deg);
    }
}
#app-solution .section-headding h2 {
    font-size: 35px;
    margin-bottom: 30px;
}
#app-solution .section-headding p {
    padding-right: 40px;
}
#app-solution .section-headding p span {
    margin-top: 20px;
}
#app-solution .right_content {
    position: relative;
}
#app-solution .right_content::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: var(--bg-white);
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#app-solution .right_content ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#app-solution .right_content ul li:first-child {
    margin: 0px auto 30px;
    text-align: center;
    width: 100%;
}
#app-solution .right_content ul li {
    width: 50%;
    text-align: center;
    position: relative;
}
.video-play-button {
    position: absolute;
    z-index: 10;
    top: 26%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 34px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}
#app-solution .right_content .video-play-button::before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    animation: 1500ms ease-out 0s infinite normal none running Videopulse-border;
}
#app-solution .right_content .video-play-button::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transition: all 200ms ease 0s;
}
#app-solution .right_content .video-play-button:hover::after {
}
#app-solution .right_content .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0px;
    height: 0px;
    border-left: 21px solid rgb(0, 0, 0);
    border-top: 14px solid transparent;
    border-bottom: 15px solid transparent;
    text-align: center;
    margin: 7px auto 0px;
}
@keyframes Videopulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0px) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0px) scale(1.5);
        opacity: 0;
    }
}
#why_we_are .whyWrapper {
    background-color: var(--bg-white);
    margin: 0px 15px;
    border-radius: 30px;
    padding: 85px 0px;
    box-shadow: rgb(237, 233, 254) 0px 4px 30px;
}
#why_we_are .item .icon {
    margin-bottom: 45px;
}
#about_team .section-headding {
    margin-bottom: 50px;
}
#about_team .PersonInfo {
    text-align: center;
    transition: all 0.4s ease 0s;
    padding: 35px 30px;
    border-radius: 12px;
}
#about_team .PersonInfo:hover {
    background-color: rgb(255, 255, 255);
}
#about_team .PersonInfo .person-image {
    margin-bottom: 30px;
}
#about_team .PersonInfo h3 {
    margin-bottom: 5px;
}
#about_team .PersonInfo ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
#about_team .PersonInfo ul li a i {
    width: 33px;
    height: 33px;
    border: 1px solid rgb(204, 204, 226);
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    color: rgb(137, 138, 174);
    transition: all 0.4s ease 0s;
    font-size: 15px;
    margin: 0px 5px;
}
#about_team .PersonInfo ul li a i:hover {
    background-color: var(--purple);
    border-color: transparent;
    color: rgb(255, 255, 255);
}
#query .queryWrapper {
    background-color: var(--bg-purple);
    margin: 0px 15px;
    height: 420px;
    width: 1319px;
    border-radius: 30px;
    text-align: center;
    display: grid;
    place-items: center;
}
#query .queryWrapper .section-headding {
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
}
#query .queryWrapper .shap-1 {
    position: absolute;
    left: 10%;
    bottom: 20%;
    animation: 10s linear 0s infinite normal none running rotatedanime;
}
#query .queryWrapper .shap-2 {
    position: absolute;
    right: 5%;
    top: 5%;
    animation: 10s linear 0s infinite normal none running rotatedanime;
}
#query .queryWrapper .shap-3 {
    position: absolute;
    right: 20%;
    bottom: -40%;
    animation: 10s linear 0s infinite normal none running rotatedanime;
}
#query .queryWrapper .custome-link {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    border-radius: 50px;
    color: var(--bg-purple) !important;
}
#query .queryWrapper .custome-link::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    z-index: -1;
    background-color: transparent;
    transition: all 0.4s ease 0s;
    border-radius: 50px;
}
#query .queryWrapper .custome-link:hover::after {
    width: 100%;
    background-color: var(--purple);
}
#query .queryWrapper .custome-link:hover {
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255) !important;
}
#reviews_section.section-padding {
    margin-bottom: 70px;
}
#reviews_section .reviews-box {
    padding: 40px 30px;
    margin: 20px 0px;
    border-radius: 12px;
    background-color: var(--bg-white);
}
#reviews_section .reviews-box .ratting span i {
    color: rgb(252, 148, 0);
}
#reviews_section .reviews-box h3 {
    color: var(--purple);
    margin: 10px 0px;
}
#reviews_section .reviews-box .reviewer {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
#reviews_section .reviews-box .reviewer .text {
    margin-left: 20px;
}
#reviews_section .reviews-box .reviewer .text h3 {
    margin: 0px;
    color: var(--body-text-purple);
}
#contact_page_section .contact-form {
    width: 570px;
    padding: 50px 60px;
    border-radius: 22px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(237, 233, 254) 0px 4px 10px;
    position: relative;
    z-index: 1;
    margin-top: -150px;
}
#contact_page_section .contact-form .section-headding {
    text-align: center;
}
#contact_page_section .contact-form .section-headding p {
    width: auto;
    text-align: center;
    margin-bottom: 16px;
}
#contact_page_section .contact-form form .form-control,
select {
    height: 60px;
    padding: 5px 20px;
    color: var(--body-text-purple);
    border: 2px solid rgb(225, 219, 244);
    border-radius: 12px;
    font-weight: 500;
}
#contact_page_section .contact-form form .form-check-label {
    font-size: 14px;
}
#contact_page_section .contact-form form textarea.form-control {
    height: 140px;
    padding-top: 15px;
}
section#contact_page_section .contactInfo {
    margin-left: 70px;
}
section#contact_page_section .contactInfo .section-headding {
    text-align: left;
    margin: 30px 0px;
}
section#contact_page_section .contactInfo .custome-link {
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
section#contact_page_section .contactInfo .custome-link::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    border-radius: 50px;
    border: 1px solid var(--putple);
    transition: all 0.4s ease 0s;
    z-index: -1;
}
section#contact_page_section .contactInfo .custome-link:hover::after {
    width: 100%;
    background: var(--bg-white);
}
section#contact_page_section .contactInfo .custome-link:hover {
    color: var(--purple) !important;
}
section#contact_page_section .contactInfo ul {
    margin-top: 50px;
}
section#contact_page_section .contactInfo ul li {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
section#contact_page_section .contactInfo ul li .text {
    margin-left: 20px;
}
section#contact_page_section .contactInfo ul li .text h4 {
    margin-bottom: 5px;
}
section#contact_page_section .contactInfo ul li .text h5 {
    font-size: 16px;
}
/* blog-lst-page section start here  */
#aboutBanner .search-bar {
    position: relative;
    z-index: 1;
    margin-top: 25px;
}

.search-bar form form .form-group {
}

#aboutBanner .search-bar form .form-group {
    width: 600px;
    margin: 0 auto;
    height: 60px;
    position: relative;
}

.search-bar form .form-group input {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    padding: 30px;
    font-size: 16px;
    color: var(--body-text-purple);
    border: 1px solid var(--bg-purple);
    font-family: inherit;
}

#aboutBanner .search-bar form button.btn {
    position: absolute;
    top: 50%;
    right: 2px;
    width: 56px;
    height: 56px;
    background: var(--bg-purple);
    text-align: center;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 0.4s;
}

#aboutBanner .search-bar form button.btn i {
    font-size: 23px;
    color: var(--text-white);
    font-weight: 400;
}

#aboutBanner .search-bar form button.btn:hover {
    background: var(--dark-purple);
}
#aboutBanner .search-bar {
    position: relative;
    z-index: 1;
    margin-top: 25px;
}

.search-bar form form .form-group {
}

#aboutBanner .search-bar form .form-group {
    width: 600px;
    margin: 0 auto;
    height: 60px;
    position: relative;
}

.search-bar form .form-group input {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    padding: 30px;
    font-size: 16px;
    color: var(--body-text-purple);
    border: 1px solid var(--bg-purple);
    font-family: inherit;
}

#aboutBanner .search-bar form button.btn {
    position: absolute;
    top: 50%;
    right: 2px;
    width: 56px;
    height: 56px;
    background: var(--bg-purple);
    text-align: center;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 0.4s;
}

#aboutBanner .search-bar form button.btn i {
    font-size: 23px;
    color: var(--text-white);
    font-weight: 400;
}

#aboutBanner .search-bar form button.btn:hover {
    background: var(--dark-purple);
}

.search-bar form .form-group input:focus {
    box-shadow: none;
    border: 1px solid #222;
}
#ratting_app .blog-text .section-headding h2 {
    text-align: left;
}
#ratting_app .blog-text .section-headding p {
    text-align: left;
    margin-bottom: 30px;
}
#ratting_app .row {
    align-items: center;
}
#ratting_app .blog-text span {
    font-size: 12px;
    background-color: #f8d979;
    display: inline-block;
    padding: 1px 10px;
    border-radius: 4px;
    color: var(--dark-purple);
    font-weight: 700;
    margin-bottom: 10px;
}
#ratting_app .blog-text a {
    color: var(--purple);
    font-size: 14px;
    font-weight: 600;
}
#ratting_app .blog-text a:hover {
    text-decoration: underline;
}
ul#page_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul#page_pagination li a {
    margin: 0px 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 35px;
}

ul#page_pagination li a.active {
    background: var(--purple);
    color: #fff;
}
/* blog-lst-page section end here  */
